@charset "UTF-8";
/**
 * Component:	Variables
 * Description:	Define all variables
*/
.small-pl-pitch {
  margin: 0 2.3rem 0 0.9rem;
  line-height: .75rem;
  font-size: .22rem;
  color: #a2a2a2;
  position: relative;
  z-index: 5;
}
.small-pl-pitch #agreement {
  width: 1rem;
  height: .5rem;
  left: 0;
  border: none;
}
.small-pl-pitch .ch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: .5rem;
}
.small-pl-pitch .ch div {
  width: .22rem;
  height: .22rem;
  border: 1px solid #a1d012;
}
.small-pl-pitch .ch div .icon-checkbox {
  width: .22rem;
  height: .22rem;
}
.text-right {
  text-align: right;
}
select.text-right {
  direction: rtl;
}
select.text-right option {
  direction: ltr;
}
.text-center {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo {
  width: 33%;
  margin: 0.5rem auto 0.8rem auto;
}
.code-img {
  height: .7rem;
}
.agreement {
  color: #a2a2a2;
}
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
#map .m-button {
  position: absolute;
  width: 100%;
  bottom: .5rem;
  left: 0;
}
#container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#searchBox {
  position: absolute;
  width: 90%;
  left: 5%;
  z-index: 11;
  top: 15px;
  background-color: #fff;
}
#tipinput {
  width: 100%;
  font-size: 0.3rem;
  box-sizing: border-box;
  padding: 0.2rem 0.24rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.not-border a {
  color: #21AFFD;
  line-height: 1rem;
}
.photoes {
  overflow: hidden;
}
.photoes .photo-item {
  position: relative;
  width: 33.33%;
  float: left;
  display: inline-block;
  padding: 0 0.24rem;
  margin-bottom: 0.24rem;
  overflow: hidden;
}
.photoes .photo-item input {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  border: none;
}
.photoes .img-wrapper {
  border: 1.5px dashed #ccc;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
}
.photoes .img-wrapper.no-border {
  border: none;
}
.photoes .img-wrapper img {
  max-width: 100%;
  max-heght: 100%;
}
.photoes .info {
  text-align: center;
  margin-top: .1rem;
  font-size: 0.24rem;
  color: #888;
}
.tab .grids-item .grids-txt {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #21AFFD;
}
.tab .grids-item.current {
  background-color: #21AFFD;
}
.tab .grids-item.current .grids-txt {
  color: #fff;
}
.toggle-license {
  color: #21AFFD;
}
.next {
  background: url(../images/s.png) no-repeat;
  background-size: auto 100%;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  margin-left: -0.4rem;
}
.right {
  background: url(../images/f.png) no-repeat;
  background-size: auto 100%;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  margin-left: -0.4rem;
}
.current .next {
  background: url(../images/s-c.png) no-repeat;
  background-size: auto 100%;
}
.current .right {
  background: url(../images/f-c.png) no-repeat;
  background-size: auto 100%;
}
.padding-lr {
  padding: 0 .35rem;
}
.audit-wrap {
  margin-top: 0.2rem;
  background-color: #6ECB35;
  padding: 0.35rem;
  color: white;
}
.audit-tip h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: .2rem;
}
.audit-tip img {
  height: 1.3rem;
  margin-right: 0.3rem;
  float: left;
}
.agreement-info {
  background-color: white;
  padding: .5rem .28rem;
}
.agreement-info .under-line {
  padding: 0 .2rem;
  text-decoration: underline;
}
.agreement-info .head {
  background-color: #D9D9D9;
}
.agreement-info h1 {
  text-align: center;
  font-size: .38rem;
  margin-bottom: .2rem;
}
.agreement-info p {
  font-size: 0.28rem;
  text-indent: 0.6rem;
}
.agreement-info h2 {
  font-size: .32rem;
  margin-top: .2rem;
  text-indent: 0.6rem;
}
.agreement-info table {
  font-size: 0.3rem;
  width: 100%;
  border-top: 1px solid #B2B2B2;
  border-left: 1px solid #B2B2B2;
}
.agreement-info table td {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #B2B2B2;
  border-right: 1px solid #B2B2B2;
}
.m-tabbar .m-button {
  width: 100%;
}
.m-tabbar .m-button .btn-block {
  margin: 0.3rem 0;
}
.money-control {
  position: relative;
}
.money-control .money {
  background-color: #21AFFD;
  color: #fff;
  padding: .3rem .8rem;
}
.money-control .count {
  text-align: center;
  font-size: .8rem;
}
.money-control .cell-item {
  line-height: 1rem;
  margin-top: .35rem;
}
.money-control .cell-item:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.money-control .icon {
  display: inline-block;
  position: relative;
  height: .4rem;
  top: 0.26rem;
  margin-right: 5px;
}
.money-control .history {
  display: block;
  text-align: center;
  text-decoration: underline;
}
.money-control .m-celltitle {
  padding-bottom: .2rem;
}
#list .list-theme6 .list-item {
  padding-bottom: 0.12rem;
  margin-top: 0;
}
#list .list-theme6 .list-item + .list-item {
  margin-top: .2rem;
}
#list .list-theme6 .list-item:active {
  background: #fff;
}
#list .list-theme6 p {
  padding: 0.12rem 0.24rem;
  font-size: 0.3rem;
  color: #888;
}
#list .list-theme6 p span {
  float: right;
  color: #333;
}
#list .list-theme6 p .blue {
  color: #21AFFD;
}
#list .list-theme6 p img {
  height: .4rem;
}
#list .list-theme6 p.title {
  color: #333;
  position: relative;
  padding: 0.24rem;
  margin-bottom: 0.12rem;
}
#list .list-theme6 p.title:after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
#CONFRIM {
  display: none;
}
#CONFRIM .none-bg {
  margin-bottom: 0;
}
#CONFRIM .confirm-ft {
  margin-top: -1px;
}
.paycode {
  background-color: #009fe8;
  padding-top: .67rem;
}
.paycode .code-block {
  background-color: white;
  border-radius: 4px;
  margin: 0 .35rem;
  overflow: hidden;
  font-size: .28rem;
  padding-bottom: .62rem;
}
.paycode .code-block .title {
  background-color: #f4f4f4;
  padding: .25rem 0 .15rem 0;
  color: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #969696;
  position: relative;
}
.paycode .code-block .title .del {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 0.6rem;
}
.paycode .code-block .title img {
  height: .4rem;
  margin: 0 .15rem 0 .34rem;
}
.paycode .code-block .code {
  padding: .36rem 1.5rem .66rem;
}
.paycode .code-block .code p {
  line-height: 1.66rem;
  text-align: center;
  color: #323232;
  font-weight: bold;
  font-size: .4rem;
}
.paycode .code-block .code p .num {
  font-size: .6rem;
}
.paycode .code-block .code img {
  width: 100%;
}
.paycode .code-block .sum {
  display: none;
  text-align: center;
}
.paycode .code-block .sum span {
  font-size: .2rem;
  height: .5rem;
  line-height: .5rem;
}
.paycode .code-block .sum input {
  border: none;
  outline: none;
  width: 1.6rem;
  font-size: .3rem;
  height: .5rem;
  padding-left: .24rem;
  display: inline-block;
}
.paycode .code-block .save {
  text-align: center;
  line-height: .52rem;
  color: #979797;
  font-size: .26rem;
}
.paycode .code-block .scan {
  text-align: center;
  line-height: .52rem;
  color: #979797;
  font-size: .26rem;
}
.paycode .intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  margin-top: 1.05rem;
  font-size: .32rem;
}
.paycode .intro img {
  width: .4rem;
  margin-right: .16rem;
}
.paycode #channel {
  text-align: center;
  padding-bottom: .6rem;
  margin-top: -0.3rem;
}
.paycode #channel .change {
  color: #21AFFD;
  display: inline-block;
}
.paycode #channel .change:after {
  content: '';
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.paycode #actionSheet .title {
  text-align: center;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 .24rem;
}
.paycode #actionSheet #close {
  position: absolute;
  width: .6rem;
  text-align: left;
  line-height: 0.9rem;
  font-size: 18px;
}
.paycode #actionSheet .m-cell {
  margin-bottom: 0;
}
.paycode #actionSheet .m-cell .cell-item:after {
  margin-left: 0;
}
.paycode #actionSheet .m-cell img {
  height: .6rem;
}
.my-shop .cell-item-shop {
  position: relative;
  text-align: center;
  padding: 0.3rem 0;
}
.my-shop .cell-item-shop:after {
  margin-left: 0.9rem;
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.my-shop .title {
  font-size: 0.5rem;
}
.my-shop .percent {
  color: #21AFFD;
  font-size: 0.26rem;
  margin-top: .2rem;
}
.my-shop .cell-item img,
.my-shop .cell-item-info img {
  height: .3rem;
  margin-right: 5px;
}
.my-shop .cell-item-info .cell-left {
  padding-top: .3rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.my-shop .cell-item-info .cell-right {
  padding: .3rem 0;
  text-align: left;
}
.my-shop .agreement {
  margin-top: .35rem;
}
.my-shop .agreement a {
  width: 50%;
  float: left;
  text-align: center;
  font-size: .26rem;
}
.g-bg {
  background: #fff;
  position: relative;
}
.g-bg .m-cell {
  padding-top: .63rem;
  position: relative;
  z-index: 5;
  margin: 0 .9rem;
}
.g-bg .m-cell .cell-item {
  height: 1.12rem;
  padding-left: 0;
}
.g-bg .m-cell .cell-item:after {
  margin-left: 0;
}
.g-bg .m-cell .cell-item .cell-left {
  width: .54rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.g-bg .m-cell .cell-item .cell-left img {
  margin: 0 auto;
}
.g-bg .m-cell .cell-item .cell-left img.icon_phone {
  width: .25rem;
  height: .37rem;
}
.g-bg .m-cell .cell-item .cell-left img.icon_code {
  width: .32rem;
  height: .26rem;
}
.g-bg .m-cell .cell-item .cell-left img.icon_msg {
  width: .36rem;
  height: .28rem;
}
.g-bg .m-cell .cell-item .cell-right {
  padding-right: .33rem;
}
.g-bg .m-cell .cell-item .cell-right.verificate {
  padding-right: .13rem;
}
.g-bg .m-cell .cell-item .cell-right .verification {
  width: 1.3rem;
}
.g-bg .m-cell .cell-item .cell-right.code {
  width: 5.12rem;
}
.g-bg .m-cell .cell-item .cell-right .code_box {
  background: #dcdcdc;
}
.g-bg .m-cell .cell-item .cell-right .code_box img.code-img {
  width: 1.39rem;
  height: .51rem;
}
.g-bg .m-cell .cell-item .cell-input {
  padding-left: .22rem;
  width: 3.29rem;
  font-size: .28rem;
}
.g-bg .m-button {
  position: relative;
  z-index: 5;
}
.g-bg .m-button .btn-block {
  height: .86rem;
  line-height: .86rem;
  font-size: .32rem;
}
.g-bg .reg-img {
  position: absolute;
  width: 100%;
  height: 4.58rem;
  bottom: 0;
  left: 0;
}
.content-success {
  text-align: center;
}
.content-success .icon-success {
  width: 1.1rem;
  height: 1.1rem;
  margin: .9rem auto 0;
}
.content-success h2 {
  line-height: 1.09rem;
  margin-bottom: .05rem;
  font-size: .4rem;
  color: #333333;
}
.content-success p {
  line-height: .5rem;
  font-size: .28rem;
  color: #969696;
}
.content-success .m-button {
  padding: 0 2.02rem;
}
.content-success .m-button .btn-hollow {
  color: #00b909;
  height: .86rem;
  line-height: .86rem;
  font-size: .32rem;
}
.content-success .m-button .btn-hollow:after {
  border: 2px solid #00b909;
}
.extension {
  background: #efeef4;
}
.extension .m-cell {
  background: #efeef4;
}
.extension .m-cell .cell-item {
  background: #fff;
  padding-left: .2rem;
  color: #333333;
}
.extension .m-cell .cell-item:after {
  margin-left: 0;
}
.extension .m-cell .cell-item:nth-child(1) {
  margin: .21rem 0 .14rem;
}
.extension .m-cell .cell-item .cell-right {
  padding-right: .2rem;
}
.extension .m-cell .cell-item .cell-right .m-button {
  padding: 0;
}
.extension .m-cell .cell-item .cell-right .m-button .btn-block {
  height: .75rem;
  line-height: .75rem;
  margin: 0;
  padding: 0 .4rem;
  font-size: .3rem;
  border-radius: .1rem;
}
.extension .m-cell .cell-item .cell-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.extension .m-cell .cell-item .cell-left h3 {
  margin-top: .28rem;
  line-height: .63rem;
}
.extension .m-cell .cell-item .cell-left p {
  line-height: .62rem;
  margin-bottom: .15rem;
  color: #969696;
  font-size: .28rem;
}
.extension .mask-white {
  background: #f0c25e;
}
.extension .mask-white .mask-box {
  width: 6.9rem;
  position: absolute;
  top: .62rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.extension .mask-white .mask-box .title {
  position: relative;
  height: .8rem;
  line-height: .8rem;
  background: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .28rem;
  color: #969696;
}
.extension .mask-white .mask-box .title .grids-icon {
  margin: 0 .15rem 0 .3rem;
  height: .8rem;
}
.extension .mask-white .mask-box .title .grids-icon .icon-share2 {
  font-size: .28rem;
}
.extension .mask-white .mask-box .title .del {
  position: absolute;
  right: 0.1rem;
  top: 0;
  font-size: .6rem;
}
.extension .mask-white .mask-box .code {
  background: #fff;
  text-align: center;
  padding-bottom: .45rem;
  padding-top: .49rem;
}
.extension .mask-white .mask-box .code img {
  width: 3.99rem;
  height: 3.99rem;
  display: inline-block;
  margin: .68rem auto .73rem;
}
.extension .mask-white .mask-box .code p {
  line-height: .5rem;
  color: #323232;
  font-size: .28rem;
}
.extension .mask-white .mask-box .code p.intro {
  line-height: .59rem;
  color: #969696;
}
.extension .mask-white .mask-box .code p.number {
  line-height: .82rem;
  font-size: .4rem;
  font-weight: bold;
}
.extension .mask-white .mask-box .code p.number span {
  font-size: .6rem;
}
.gathering {
  background: #efeef4;
  padding-top: .23rem;
}
.gathering .cell-item {
  padding-left: .59rem;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.gathering .cell-item .cell-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gathering .cell-item .cell-left p {
  line-height: .49rem;
  margin-top: .18rem;
}
.gathering .cell-item .cell-left .cash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: .07rem;
  padding-bottom: .43rem;
}
.gathering .cell-item .cell-left .cash > span {
  font-size: .4rem;
  padding-top: .2rem;
}
.gathering .cell-item .cell-left .cash > div {
  position: relative;
}
.gathering .cell-item .cell-left .cash > div .cursor {
  width: 0.04rem;
  height: .9rem;
  background: #677bff;
  position: absolute;
  top: 0;
  left: 0.3rem;
  display: none;
  -webkit-animation: cursor 1.1s infinite;
  animation: cursor 1.1s infinite;
}
.gathering .cell-item .cell-left .cash .cell-input {
  color: #313131;
  font-size: .8rem;
  padding-left: .3rem;
}
.gathering .m-button {
  padding: 0 .17rem 0 .23rem;
}
.gathering .m-button .btn-block {
  height: .86rem;
  line-height: .86rem;
  font-size: .32rem;
}
.gathering .m-button .btn-block.btn-warning {
  background: #41a40c;
  margin-top: .36rem;
}
.gathering .m-button .btn-block img {
  width: .4rem;
  display: inline-block;
  vertical-align: middle;
}
.gathering .m-button .btn-block img.alipay {
  height: .4rem;
  margin-right: .21rem;
}
.gathering .m-button .btn-block img.wechatpay {
  height: .38rem;
  margin-right: .16rem;
}
.ml-2e {
  margin-left: 2em;
}
.lh-83 {
  line-height: .83rem;
}
.personal-info {
  background: #efeef4;
  padding-top: .19rem;
}
.personal-info .bg-color {
  background: #efeef4;
}
.personal-info .cell-item {
  padding-left: .24rem;
}
.personal-info .cell-item:after {
  margin-left: .24rem;
}
.personal-info .cell-item .cell-right {
  padding-left: .4rem;
  padding-right: .21rem;
}
.personal-info .cell-item .cell-right.jc-fs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.personal-info .cell-item .cell-right .cell-select {
  margin-left: 0;
}
.personal-info .ft-30 {
  font-size: .3rem;
}
.personal-info .cl {
  color: #969696;
}
.personal-info .cl2 {
  color: #313131;
}
.personal-info .mb-14 {
  margin-bottom: 0.14rem;
}
.personal-info .mb-0 {
  margin-bottom: 0;
}
.personal-info .no-bd {
  border: none;
}
.personal-info .m-button {
  padding: 0 .21rem;
}
.personal-info .m-button .btn-block {
  margin-top: .44rem;
}
.performance .m-cell {
  background: #21affd;
  margin-bottom: .2rem;
}
.performance .m-cell.takeCashBox {
  background: #fff;
  margin-bottom: .12rem;
  border: .02rem solid #dcdcdc;
}
.performance .m-cell.takeCashBox .cell-item {
  padding-left: .43rem;
}
.performance .m-cell.takeCashBox .cell-item .takeCash {
  width: 73%;
}
.performance .m-cell.takeCashBox .cell-item .takeCash img {
  width: .42rem;
  margin-right: .19rem;
}
.performance .m-cell.takeCashBox .cell-item .cell-right {
  padding-right: .6rem;
  color: #21affd;
}
.performance .m-cell .cell-item.date {
  padding-left: .32rem;
}
.performance .m-cell .cell-item.date:after {
  border: none;
}
.performance .m-cell .cell-item.date .cell-left {
  color: #fbfbfb;
  font-size: .28rem;
  line-height: .65rem;
}
.performance .m-cell .cell-item.txt-center {
  padding-left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.performance .m-cell .cell-item.txt-center:after {
  border: none;
}
.performance .m-cell .cell-item.txt-center .money {
  font-size: .36rem;
  line-height: .88rem;
  color: #fff;
}
.performance .m-cell .cell-item.txt-center .profit {
  font-size: .28rem;
  line-height: .59rem;
  margin-bottom: .24rem;
  color: #fbfbfb;
}
.performance .m-cell .cell-item.details {
  height: 1.5rem;
  padding-left: 0;
  background: #38b7fd;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.performance .m-cell .cell-item.details .cell-left {
  border-right: 1px solid #fbfbfb;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 1.04rem;
}
.performance .m-cell .cell-item.details .cell-right {
  width: 50%;
}
.performance .m-cell .cell-item.details .num {
  line-height: .55rem;
  font-size: .36rem;
  color: #fbfbfb;
  text-align: center;
}
.performance .m-cell .cell-item.details .total {
  line-height: .49rem;
  font-size: .24rem;
  color: #fbfbfb;
  text-align: center;
}
.performance .progress {
  padding: 0 .21rem 0 .19rem;
}
.performance .progress .title {
  line-height: .67rem;
  color: #979797;
}
.performance .progress .progressBar {
  border: 1px solid #dcdcdc;
  height: .7rem;
  background: #fff;
  margin-bottom: .15rem;
  position: relative;
  padding: 0 .21rem 0 .28rem;
  color: #21AFFD;
  font-size: .28rem;
  line-height: .7rem;
  z-index: 10;
}
.performance .progress .progressBar.clearfix {
  display: block;
  content: '';
  clear: both;
}
.performance .progress .progressBar .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: rgba(150, 150, 150, 0.5);
  z-index: -1;
}
.performance .progress .progressBar .fl {
  float: left;
}
.performance .progress .progressBar .fr {
  float: right;
}
.performance .mask-black-dialog .m-cell {
  background: transparent;
}
.performance .mask-black-dialog .m-cell .cell-item {
  padding-left: .4rem;
}
.performance .mask-black-dialog .m-cell .cell-item:not(:last-child):after {
  margin-left: .4rem;
}
.performance .mask-black-dialog .m-cell .cell-item .cell-right {
  padding-right: .4rem;
}
.pd-14 {
  padding-top: .12rem;
}
.creat .cell-item {
  padding-left: .26rem;
}
.creat .cell-item .cell-left {
  color: #323232;
  font-size: .3rem;
}
.creat .cell-item .cell-right {
  padding-right: .21rem;
  font-size: .3rem;
}
.creat .cell-item .cell-right .cell-input {
  padding-left: .42rem;
  color: #969696;
}
.creat .m-button {
  padding: 0 .2rem;
}
.creat .m-button .btn-block {
  font-size: .32rem;
  height: .86rem;
  line-height: .86rem;
}
.pay-success {
  background: #efeef4;
}
.pay-success .icon-box {
  text-align: center;
  padding-bottom: .82rem;
}
.pay-success .icon-box img {
  height: .86rem;
  margin: .65rem auto .23rem;
}
.pay-success .icon-box h3 {
  line-height: .57rem;
  font-size: .38rem;
}
.pay-success .m-cell .cell-item {
  padding-left: .37rem;
}
.pay-success .m-cell .cell-item:after {
  border-bottom: none;
}
.pay-success .m-cell .cell-item.mount:after {
  border-bottom: 1px solid #e8e8e8;
  margin-left: .43rem;
}
.pay-success .m-cell .cell-item.mount .cell-right {
  font-size: .38rem;
}
.pay-success .m-cell .cell-item .cell-right {
  padding-right: .33rem;
  font-size: .3rem;
  color: #323232;
}
.pay-success .m-cell .cell-item .cell-left {
  color: #969696;
}
.pay-success .m-button {
  padding: 0 .17rem 0 .23rem;
}
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
